//
// Typography
//

$body-font-family: Roboto, -apple-system, BlinkMacSystemFont, "helvetica neue",
  roboto, noto, "segoe ui", helvetica, arial, sans-serif !default;
$mono-font-family: "SFMono-Regular", Menlo, Consolas, Monospace !default;
$root-font-size: 16px !default; // Base font-size for rems
$body-line-height: 1.4 !default;
$content-line-height: 1.6 !default;
$body-heading-line-height: 1.25 !default;

//
// Colors
//

$white: #fff !default;

$grey-dk-000: #969395 !default;
$grey-dk-100: #62595c !default;
$grey-dk-200: #4d4044 !default;
$grey-dk-250: #362d30 !default;
$grey-dk-300: #2b2327 !default;

$grey-lt-000: #faf5f6 !default;
$grey-lt-100: #eee0e6 !default;
$grey-lt-200: #edebec !default;
$grey-lt-300: #e8e1e4 !default;

$purple-000: #7253ed !default;
$purple-100: #5e41d0 !default;
$purple-200: #4e26af !default;
$purple-300: #381885 !default;

$blue-000: #2c84fa !default;
$blue-100: #2869e6 !default;
$blue-200: #264caf !default;
$blue-300: #183385 !default;

$green-000: #41d693 !default;
$green-100: #11b584 !default;
$green-200: #009c7b !default;
$green-300: #026e57 !default;

$yellow-000: #ffeb82 !default;
$yellow-100: #fadf50 !default;
$yellow-200: #f7d12e !default;
$yellow-300: #e7af06 !default;

$red-000: #f77e7e !default;
$red-100: #f96e65 !default;
$red-200: #e94c4c !default;
$red-300: #dd2e2e !default;

$maroon-000: #d44;
$maroon-100: #b33;
$maroon-200: #922;
$maroon-300: #711;

// #e91e63
$pink-000: #e91e63;  // e29
$pink-100: #c25;
$pink-200: #a14;
$pink-300: #803;
// $pink-100: darken($pink-000, 10%);
// $pink-200: darken($pink-100, 10%);
// $pink-300: darken($pink-200, 10%);

/* highlight colors */
$link-color: $pink-000 !default;
$btn-primary-color: $pink-100 !default;

/* bg colors */
$body-background-color: $white !default;
$sidebar-color: $grey-lt-000 !default;
$search-background-color: $white !default;
$table-background-color: $white !default;
$code-background-color: $grey-lt-000 !default;
// $feedback-color: darken($sidebar-color, 3%) !default;
$feedback-color: lighten($pink-000, 45%) !default;

/* text colors - not highlight */
$body-text-color: $grey-dk-100 !default;
$body-heading-color: $grey-dk-300 !default;
$search-result-preview-color: $grey-dk-000 !default;
$nav-child-link-color: $grey-dk-100 !default;
$base-button-color: #f7f7f7 !default;

//
// Spacing
//

$spacing-unit: 1rem; // 1rem == 16px

$spacers: (
  sp-0: 0,
  sp-1: $spacing-unit * 0.25,
  sp-2: $spacing-unit * 0.5,
  sp-3: $spacing-unit * 0.75,
  sp-4: $spacing-unit,
  sp-5: $spacing-unit * 1.5,
  sp-6: $spacing-unit * 2,
  sp-7: $spacing-unit * 2.5,
  sp-8: $spacing-unit * 3,
  sp-9: $spacing-unit * 3.5,
  sp-10: $spacing-unit * 4,
) !default;

$sp-1: map-get($spacers, sp-1) !default; // 0.25 rem == 4px
$sp-2: map-get($spacers, sp-2) !default; // 0.5  rem == 8px
$sp-3: map-get($spacers, sp-3) !default; // 0.75 rem == 12px
$sp-4: map-get($spacers, sp-4) !default; // 1    rem == 16px
$sp-5: map-get($spacers, sp-5) !default; // 1.5  rem == 24px
$sp-6: map-get($spacers, sp-6) !default; // 2    rem == 32px
$sp-7: map-get($spacers, sp-7) !default; // 2.5  rem == 40px
$sp-8: map-get($spacers, sp-8) !default; // 3    rem == 48px
$sp-9: map-get($spacers, sp-9) !default; // 3.5  rem == 56px
$sp-10: map-get($spacers, sp-10) !default; // 4  rem == 64px

//
// Borders
//

$border: 1px solid !default;
$border-radius: 4px !default;
$border-color: $grey-lt-100 !default;

//
// Grid system
//

$xl-width: 1700px;
$gutter-spacing: $sp-6 !default;
$gutter-spacing-sm: $sp-4 !default;
$nav-width: 264px !default;
$nav-width-md: 248px !default;
$nav-list-item-height: $sp-6 !default;
$nav-list-item-height-sm: $sp-8 !default;
$nav-list-expander-right: true;
$content-width: 800px !default;
$content-width-lg: $xl-width - $nav-width;
$content-width-wide: $xl-width - $nav-width;
$header-height: 60px !default;
$search-results-width: $content-width - $nav-width !default;
$transition-duration: 400ms;

//
// Media queries in pixels
//

$media-queries: (
  xs: 320px,
  sm: 500px,
  md: $content-width,
  lg: $content-width + $nav-width,
  xl: 1700px,
) !default;
